<main class="container mt-5">
    <form id="edit-post-form" data-post-id="{{id}}">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" value="{{title}}" />
        </div>
        <div class="form-group">
            <label for="postContent">Content</label>
            <textarea class="form-control" id="postContent" rows="5">{{postContent}}</textarea>
        </div>
        <button type="submit" class="btn btn-info w-60">Update Post</button>
        <button type="button" class="btn btn-danger w-40 " id="delete-post">Delete</button>
    </form>
</main>

<script src="/js/editPostHandling.js"></script>