<div class='container card-center mt-4'>
    <div class='col-md-12'>
        <div class='card'>
            <div class='card-body'>
                <h2 class='card-title text-center'>Login</h2>
                <form class='form login-form' id='login-form'>
                    <div class='form-group'>
                        <label for='email'>Email:</label>
                        <input class='form-control' type='email' id='email' required />
                    </div>
                    <div class='form-group'>
                        <label for='password'>Password:</label>
                        <input class='form-control' type='password' id='password' required />
                    </div>
                    <div class='form-group text-center'>
                        <button class='btn btn-primary' type='submit'>Login</button>
                    </div>
                    <div class='form-group text-center'>
                        <a class='nav-link' href='/register'>Sign Up</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/js/loginHandling.js"></script>