<div class='container card-center mt-4'>
    <div class='col-md-12'>
        <div class='card'>
            <div class='card-body'>
                <h2 class='card-title text-center'>Sign Up</h2>
                <form class='form register-form' id='register-form'>
                    <div class='form-group'>
                        <label for='username'>Username:</label>
                        <input class='form-control' type='text' id='username' name='username' required />
                    </div>
                    <div class='form-group mt-2'>
                        <label for='email'>Email:</label>
                        <input class='form-control' type='email' id='email' name='email' required />
                    </div>
                    <div class='form-group'>
                        <label for='password'>Password:</label>
                        <input class='form-control' type='password' id='password' name='password' required />
                    </div>
                    <div class='form-group text-center'>
                        <button class='btn btn-primary' type='submit'>Sign Up</button>
                    </div>
                    <div class='form-group text-center'>
                        <a class='nav-link' href='/login'>Back to Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src='/js/registerHandling.js'></script>